@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --textoprincipal: 'Space Mono', monospace;

    --StrongCyan: hsl(172, 67%, 45%);
    --VeryDarkCyan: hsl(183, 100%, 15%);
    --DarkGrayishCyan: hsl(186, 14%, 43%);
    --GrayishCyan: hsl(184, 14%, 56%);
    --LightGrayishCyan: hsl(185, 41%, 84%);
    --VeryLightGrayishCyan: hsl(180, 38%, 94%);
}

body {
    background-color: var(--LightGrayishCyan);
    font-family: var(--textoprincipal);
    font-weight: 700;
    width: 100%;
    height: 100vh;
}
.logo {
    display: block;
    margin: auto;
    padding: 15px 0px 45px 0px;
}

                /* WHITE */

.container {
    background-color: white;
    margin: auto;
    width: 650px;
    height: 290px;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.41);
}
.bill {
    margin-bottom: 10px;
}
.bill p {
    color: var(--GrayishCyan);
    font-size: 14px;
    padding-bottom: 3px;
}
.dolar-input {
    width: 278px;
    display: flex;
    align-items: center;
}
.bill input {
    font-family: var(--textoprincipal);
    border: none;
    background-color: var(--VeryLightGrayishCyan);
    height: 20px;
    width: 95%;
    text-align: right;
    padding: 5px;
    font-size: 15px;
    color: var(--VeryDarkCyan);
}
.dolar-input input:hover {
    cursor: pointer;
}
.dolar-input:focus-within {
    border: 2px solid var(--GrayishCyan);
    border-radius: 3px;
    margin-top: -4px;
}
.dolar-input input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
.dolar-input input::-webkit-outer-spin-button,
.dolar-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.dolar-input img {
    width: 5%;
    background-color: var(--VeryLightGrayishCyan);
    padding: 6px;
}

.bill label img {
    background-color: var(--VeryLightGrayishCyan);
    align-items: center;
    margin: auto;
}
.select-tip {
    color: var(--GrayishCyan);
    padding-bottom: 10px;
    margin: 24px 0px;
}
.select-tip p {
    padding-bottom: 10px;
    font-size: 14px;
}
.porcentages input {
    display: none;
}
.select-tip .porcentages {
    columns: 2;
}
.select-tip label {
    display: inline-block;
    background-color: var(--VeryDarkCyan);
    color: var(--VeryLightGrayishCyan);
    width: 70px;
    padding: 8px;
    border-radius: 3px;
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
}
.select-tip label:hover {
    cursor: pointer;
    background-color: var(--StrongCyan);
    color: var(--VeryDarkCyan);
}
.porcentages input:checked + label {
    background-color: var(--StrongCyan);
    color: var(--VeryDarkCyan);
}
.select-tip input#custom {
    font-family: var(--textoprincipal);
    text-align: center;
    display: inline;
    border: none;
    width: 80px;
    height: 32px;
    border-radius: 3px;
    padding: 4.4px 5.5px 2.6px 0px;
    background-color: var(--VeryLightGrayishCyan);
    color: var(--GrayishCyan);
    outline: 0;
    cursor: pointer;
}
.select-tip input#custom::-webkit-outer-spin-button,
.select-tip input#custom::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.select-tip input#custom::placeholder{
    color: var(--VeryDarkCyan);
    font-size: 12px;
}
.select-tip input#custom:focus::placeholder {
    opacity: 0;
}
.number_of_people {
    color: var(--GrayishCyan);
    font-size: 12px;
}
.number_of_people p {
    padding-bottom: 4px;
}
.NOF-input {
    width: 278px;
    display: flex;
}
.number_of_people input {
    font-family: var(--textoprincipal);
    border: none;
    background-color: var(--VeryLightGrayishCyan);
    height: 20px;
    width: 95%;
    text-align: right;
    padding: 5px;
    font-size: 15px;
    color: var(--VeryDarkCyan);
}
.NOF-input input:hover {
    cursor: pointer;
}
.NOF-input:focus-within {
    border: 2px solid var(--GrayishCyan);
    border-radius: 3px;
    margin-top: -4px;
}
.NOF-input input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
.NOF-input input::-webkit-outer-spin-button,
.NOF-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.number_of_people img {
    width: 5%;
    background-color: var(--VeryLightGrayishCyan);
    padding: 7px;
}

                /*GREEN*/

.green {
    display: block;
    color: var(--VeryLightGrayishCyan);
    background-color: var(--VeryDarkCyan);
    width: 43%;
    float: right;
    border-radius: 15px;
    padding: 30px;
    height: 80%;
    margin-top: -285px;
}
.green .tip_amount {
    align-items: center;
    padding-bottom: 40px;
    font-size: 13px;    
}
.green .person {
    color: var(--GrayishCyan);
    font-size: 11px;
}
.green .value {
    color: var(--GrayishCyan);
    font-size: 30px;
    float: right;
}
.green .total {
    padding-bottom: 90px;
}
.green input {
    display: block;
    margin: auto;
    width: 270px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: var(--DarkGrayishCyan);
    color: var(--VeryDarkCyan);
    font-family: var(--textoprincipal);
}
.green input:hover {
    background-color: var(--GrayishCyan);
    cursor: pointer;
}

                /*RESPONSIVE*/

@media (max-width: 748px) {
    body {
        display: block;
    }
    .container {
        width: 240px;
        min-height: 300px;
        height: 615px;
        max-width: 615px;
        margin: auto;
        border-radius: 15px 15px 0px 0px;
    }
    .dolar-input {
        width: 237.5px;
    }
    .select-tip .responsive {
        margin-left: 5px;
    }
    .select-tip label {
        width: 100px;
        padding: 4px;
        margin-bottom: 10px;
    }
    .select-tip input#custom {
        padding: 0;
        width: 108px;
    }
    .number_of_people input {
        width: 202px;
    }
    .NOF-input {
        width: 241px;
    }
    .number_of_people p#alert {
        padding-right: 2px;
    }
    .green {
        display: block;
        width: 180px;
        min-height: 210px;
        height: 215px;
        margin-top: 20px;
    }
    .green input {
        width: 200px;
        margin-left: -10px;
        margin-top: -18px;
    }
}